<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/catalogue.css">
     <!-- fontawesome -->
     <script src="https://kit.fontawesome.com/58728929a1.js" crossorigin="anonymous"></script>
    <title>Product Catalogue</title>
</head>
    <nav>
        <header class="header">
            <div class="logo"><a href="/home"><img src="/images/Fabrink Full Logo FINAL.png" width="150px" height="auto"></a></div>
          <ul class="main-nav">
            <li><a href="/products">Products</a></li>
            <li><a href="/home">Integrations</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/bulk-orders">Bulk Orders</a></li>
            <li><a href="/support">Support</a></li>
            
            </ul>
            <div class="btn">
            <button class="sUp">Sign Up</button>
            <button class="sIn">Sign In</button>
            </div>
        </header> 
    </nav>

    <body>
        <create>
            <div class="container">
                <div class="create">
                    <div class="cr_right">
                        <img src="/images/1746.jpg" alt="" width="500px">
                    </div>
                    <div class="cr_left">
                        <h1>Select from a Varied Range of <br> Products & Styles</h1>
                        <p>Access to the best manufacturing, storing & shipping service all in one place here at FabrInk.</p>
                    </div>
                </div>
            </div>
        </create>
        <div class="catalogue">
            <div class="card">
                <div class="img">
                    <img src="/images/Black T-Shirt Mock.png" height="500px" alt="hello">
                </div>
                <div class="contxt">
                    <h3>180 GSM T-Shirt</h3>
                    <p>Pure Cotton 180 GSM T-Shirts, Pre-shrunk and Soft Fabric.</p>
                    <p> <a href="../Dashboard/dashboard.html"> Starting at Rs. 199</a></p>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="/images/Black Sweatshirt Mock.png" height="500px" alt="">
                </div>
                <div class="contxt">
                    <h3>320 GSM Sweatshirt</h3>
                    <p>Pure Cotton 320 GSM Sweatshirts, Pre-shrunk and Soft Fabric.</p>
                    <p> <a href="../Dashboard/dashboard.html"> Starting at Rs. 399</a></p>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="/images/Black Hoodie Mock.png" height="500px" alt="">
                </div>
                <div class="contxt">
                    <h3>320 GSM Hoodie</h3>
                    <p>Pure Cotton 320 GSM Hoodies, Pre-shrunk and Fleece Fabric.</p>
                    <p> <a href="../Dashboard/dashboard.html"> Starting at Rs. 599</a></p>
                </div>
            </div>
        </div>
        <div class="catalogue">
            <div class="card">
                <div class="img">
                    <img src="/images/Navy Blue T-Shirt Mock.png" height="500px" alt="">
                </div>
                <div class="contxt">
                    <h3>180 GSM T-Shirt</h3>
                    <p>Pure Cotton 180 GSM T-Shirts, Pre-shrunk and Soft Fabric.</p>
                    <p> <a href="../Dashboard/dashboard.html"> Starting at Rs. 199</a></p>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="/images/Navy Blue Sweatshirt Mock.png" height="500px" alt="">
                </div>
                <div class="contxt">
                    <h3>320 GSM Sweatshirt</h3>
                    <p>Pure Cotton 320 GSM Sweatshirts, Pre-shrunk and Soft Fabric.</p>
                    <p> <a href="../Dashboard/dashboard.html"> Starting at Rs. 399</a></p>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="/images/Navy Blue Hoodie Mock.png" height="500px" alt="">
                </div>
                <div class="contxt">
                    <h3>320 GSM Hoodie</h3>
                    <p>Pure Cotton 320 GSM Hoodies, Pre-shrunk and Fleece Fabric.</p>
                    <p> <a href="../Dashboard/dashboard.html"> Starting at Rs. 599</a></p>
                </div>
            </div>
        </div>
        <div class="catalogue">
            <div class="card">
                <div class="img">
                    <img src="/images/White T-Shirt Mock.png" height="500px" alt="">
                </div>
                <div class="contxt">
                    <h3>180 GSM T-Shirt</h3>
                    <p>Pure Cotton 180 GSM T-Shirts, Pre-shrunk and Soft Fabric.</p>
                    <p> <a href="../Dashboard/dashboard.html"> Starting at Rs. 199</a></p>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="/images/White Sweatshirt Mock.png" height="500px" alt="">
                </div>
                <div class="contxt">
                    <h3>320 GSM Sweatshirt</h3>
                    <p>Pure Cotton 320 GSM Sweatshirts, Pre-shrunk and Soft Fabric.</p>
                    <p> <a href="../Dashboard/dashboard.html"> Starting at Rs. 399</a></p>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="/images/White Hoodie Mock.png" height="500px" alt="">
                </div>
                <div class="contxt">
                    <h3>320 GSM Hoodie</h3>
                    <p>Pure Cotton 320 GSM Hoodies, Pre-shrunk and Fleece Fabric.</p>
                    <p> <a href="../Dashboard/dashboard.html"> Starting at Rs. 599</a></p>
                </div>
            </div>
        </div>
        
    </body>
    
    

    <footer>
        <h1 class="name"><span class="Fabr">Fabr</span><span class="Ink">Ink</span></h1>

        <div class="to-flex">
            <ul class="Customer-service list">
                <li class="heading"><strong>Services</strong></li>
                <li><a href="/pod">Print On Demand and Dropshipping</a></li>
                <li><a href="/services">Design Services</a></li>
                <li><a href="/bulk-orders">Bulk Orders</a></li>
            </ul>

            <ul class="Keep-with-us list">
              <li class="heading"><strong>Discover</strong></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/support">Customer Support</a></li>
              <li><a href="/policies">Policies</a></li>
          </ul>
    
            <ul class="Company list">
                <li class="heading"><strong>Integrations</strong></li>
                <li><a href="https://www.shopify.in/">Shopify</a></li>
                <li><a href="https://woocommerce.com/?utm_source=google&utm_medium=cpc&utm_campaign=acquisition_search_brand_row&utm_content=woocommerce&gclid=Cj0KCQjwtMCKBhDAARIsAG-2Eu_u6zv-YdRJ5Ww_cGDflML6pqZGQJUmEConO_dD-vGGIYE-rS-OIRcaAuqfEALw_wcB">WooCommerce</a></li>
                <li><a href="https://www.wix.com/">Wix</a></li>
                <li><a href="#">FabrInk API</a></li>
            </ul>
    
            <ul class="Connect-with-us list">
                <li class="heading"><strong>Connect With Us</strong></li>
                <li><a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp-square"></i> WhatsApp</a></li>
                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a></li>
                <li><a href="https://in.linkedin.com"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                <li><a href="https://www.facebook.com/campaign/landing.php?campaign_id=1653993517&extra_1=s%7Cc%7C318504236063%7Ce%7Cfacebook%7C&placement=&creative=318504236063&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1653993517%26adgroupid%3D63066387003%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D20462%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQjwtMCKBhDAARIsAG-2Eu8aLJII6e5tAdEEsSJ9GNUEjtSHsujoKBhCpHgxjDXnY2DJVxOG-VAaAtu4EALw_wcB"><i class="fab fa-facebook-square"></i> Facebook</a></li>
            </ul>
    
            
        </div>

        <ul class="list">
            <li>&copy 2021 FabrInk, Inc. All Rights Reserved</li>
            
        </ul>

      
        

    </footer>

</body>
</html>