<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/policies.css">
    <link rel="stylesheet" href="/stylesheets/nav after login.css">
    <link rel="stylesheet" href="/stylesheets/nav before login.css">

     <!-- fontawesome -->
     <script src="https://kit.fontawesome.com/58728929a1.js" crossorigin="anonymous"></script>
    <title>Privacy Policy</title>
</head>
    <nav>
        <% if (!user) { %>
            <header class="header">
                <div class="logo"><a href="#"><img src="/images/Fabrink Full Logo FINAL.png" width="150px" height="auto"></a></div>
                <ul class="main-nav">
                    <li><a href="/products">Products</a></li>
                    <div class="scroll" id="section1"><a href="#section2"><li>Integrations</li></a></div>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/bulk-orders">Bulk Orders</a></li>
                    <li><a href="/support">Support</a></li>
    
                </ul>
                <div class="btn">
                <button class="sUp"><a href="/signup">Sign Up</a></button>
                <button class="sIn"><a href="./login">Sign In</a></button>
            </div>
            </header> 
            <% } else {%>  
            <header class="header">
                <div class="logo"><a href="/home"><img src="/images/Fabrink Full Logo FINAL.png" width="150px" height="auto"></a></div>
                <ul class="main-nav">
                <li><a href="/user/dashboard">Dashboard</a></li>
                <li><a href="/user/my-designs">My Designs</a></li>
                <li><a href="/bulk-orders">Bulk Orders</a></li>
                <li><a href="/settings/user-profile">Settings</a></li>
                
                </ul>
                <div class="btn">
                <a href="/logout" class="lOut">Log Out</a>
                </div>
            </header> 
            <% } %> 
    </nav>

    <body>
        <h1 class="center">
            PRIVACY POLICY
        </h1>
        <p>
            
            <div class="space">1. INTRODUCTION: At FabrInk.com, we respect the privacy of our visitors and customers (collectively referred to as “Users”).  FabrInk.com does collect and use information provided by Users to better serve Users and to make FabrInk.com as user friendly and accessible as possible.  This Privacy Policy spells out the information FabrInk.com collects, how such information is collected, how the information is used and whether such information is disclosed to third parties.  FabrInk.com reserves the right to make changes to any part of this Privacy Policy at its sole discretion, at any time and without prior notice.  Continued use of FabrInk.com will constitute acceptance of any changes.  If this Privacy Policy is changed in any way, information concerning the changes will be available on this page.  FabrInk.com strongly recommends that Users periodically review this Privacy Policy for any changes.</div>
            <div class="space">2. CONSENT TO USE INFORMATION: By using the FabrInk.com Website, each User consents to the collection and use of all information that the User provides to FabrInk.com, all information that is provided to FabrInk.com on behalf of that User, and all information that FabrInk.com collects based on that User’s use of the site, including, without limitation, Personally Identifiable Information (defined below).  If User does not agree to this Privacy Policy, and the terms contained herein, User is not authorized to use the FabrInk.com site.  FabrInk may use the collected personal information like phone number, email address to send SMS, Email or a Phone call to send shipment details regarding your order or other details regarding your consented product or service. The continued use of the FabrInk.com site after any changes or amendments to this Privacy Policy shall signify the User’s acceptance of and consent to the changed or amended Privacy Policy.</div>
            <div class="space">3.FABRINK.COM’S PRIVACY PLEDGE: FabrInk.com is committed to protecting the privacy and personal information of Users at all times.  FabrInk.com recognizes that this information belongs to the User, and will treat such information accordingly.  FabrInk.com will not disclose any Personally Identifiable Information or confidential information of any User to any third parties, except as outlined in this Privacy Policy or as may be required by law.</div>
            <div class="space">4.FABRINK.COM USE OF PERSONAL AND NON-PERSONAL INFORMATION: FabrInk.com collects two kinds of information from on-line visitors, personal and non-personal information.  Visitors to the FabrInk.com Website are not required to register, or provide any Personally Identifiable Information to access the FabrInk.com site or review the products and services offered.  FabrInk.com collects non-personal information to track the total number of guests visiting the FabrInk.com site and to help FabrInk.com improve the site and the services available on the site.  Such non-personal information includes the browser type and operating system being used by visitors, areas of the sites visited, date and time of access, host or service provider information and identification of the referring site.  This information is used exclusively for FabrInk.com’s internal purposes and is not disclosed to any third parties. Personally Identifiable Information, which means any information that can be used to identify or locate a specific person, including, but not limited to e-mail addresses, names, street addresses, phone numbers, fax numbers, credit card numbers and social security numbers, is collected only when voluntarily offered and solely for purposes clearly identified on the FabrInk.com site.  Such Personally Identifiable Information is kept strictly confidential and will only be disclosed to third parties under the conditions described in Paragraph 5 of this Privacy Policy.</div>
            <div class="space">5.Disclosure to Third Party Service Providers and/or Online Partners. FabrInk.com may contract with various third parties to help provide, maintain and improve the FabrInk.com Website and services.  For example, FabrInk.com may use a third-party contractor who processes payments, and may subcontract out production, fulfilment, analytics, reporting or other operations.  FabrInk.com may also contract with third parties to help manage, monitor and optimize the FabrInk.com Website and services and to assist in measuring the effectiveness of advertising, communications and use of the FabrInk.com Website.  FabrInk.com will use commercially reasonable efforts to prevent such third parties from disclosing Personally Identifiable Information, except for the purpose of providing the services in question.  However, FabrInk.com cannot guarantee that such third parties will not disclose User information.</div>
        </p>
        
    </body>
    
    

    <footer>
        <h1 class="name"><span class="Fabr">Fabr</span><span class="Ink">Ink</span></h1>

        <div class="to-flex">
            <ul class="Customer-service list">
                <li class="heading"><strong>Services</strong></li>
                <li><a href="/pod">Print On Demand and Dropshipping</a></li>
                <li><a href="/services">Design Services</a></li>
                <li><a href="/bulk-orders">Bulk Orders</a></li>
            </ul>

            <ul class="Keep-with-us list">
              <li class="heading"><strong>Discover</strong></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/support">Customer Support</a></li>
              <li><a href="/policies">Policies</a></li>
          </ul>
    
            <ul class="Company list">
                <li class="heading"><strong>Integrations</strong></li>
                <li><a href="https://www.shopify.in/">Shopify</a></li>
                <li><a href="https://woocommerce.com/?utm_source=google&utm_medium=cpc&utm_campaign=acquisition_search_brand_row&utm_content=woocommerce&gclid=Cj0KCQjwtMCKBhDAARIsAG-2Eu_u6zv-YdRJ5Ww_cGDflML6pqZGQJUmEConO_dD-vGGIYE-rS-OIRcaAuqfEALw_wcB">WooCommerce</a></li>
                <li><a href="https://www.wix.com/">Wix</a></li>
                <li><a href="#">FabrInk API</a></li>
            </ul>
    
            <ul class="Connect-with-us list">
                <li class="heading"><strong>Connect With Us</strong></li>
                <li><a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp-square"></i> WhatsApp</a></li>
                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a></li>
                <li><a href="https://in.linkedin.com"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                <li><a href="https://www.facebook.com/campaign/landing.php?campaign_id=1653993517&extra_1=s%7Cc%7C318504236063%7Ce%7Cfacebook%7C&placement=&creative=318504236063&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D1653993517%26adgroupid%3D63066387003%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-541132862%26loc_physical_ms%3D20462%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQjwtMCKBhDAARIsAG-2Eu8aLJII6e5tAdEEsSJ9GNUEjtSHsujoKBhCpHgxjDXnY2DJVxOG-VAaAtu4EALw_wcB"><i class="fab fa-facebook-square"></i> Facebook</a></li>
            </ul>
    
            
        </div>

        <ul class="list">
            <li>&copy 2021 FabrInk, Inc. All Rights Reserved</li>
            
        </ul>

      
        

    </footer>

</body>
</html>