<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
    type="text/javascript"
    src="https://npmcdn.com/parse/dist/parse.min.js"
  ></script>
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup | FabrInk</title>
    <link rel="stylesheet" href="/stylesheets/Signup.css">
</head>
<body>
        <div class="row">
            <div class="column" style="background-color:#fff;">
              <img src="/images/signup.png" alt="">
            </div>
            <div class="column" style="background-color:#FFFFFF;">
              <center>
                <div class="container">
                <h1>Sign Up</h1>
                <form action="" method="POST">
                  <input
                  type="email"
                  class="textbox"
                  placeholder="E-Mail ID"
                  required
                  id="email"
                  name="email"/><br>
                  <input
                  type="text"
                  class="textbox"
                  placeholder="Name"
                  required
                  id="username"
                  name="username"/> <br>
                  <input
                  type="password"
                  class="textbox"
                  placeholder="Password"
                  required
                  id="password"
                  name="password"
                /><br>

                  <button class="btn">Sign Up</button>
                <!-- <input
                type="button"
                value="Sign Up"
                class="btn"
                /> -->
                </form>
                <br>
            <a href="/login"><input
              type="button"
              value="Already have an account ?"
              class="btn-login"
            /></a>
              
              </div>
              </center>
              </div>
            </div>
          </div>
          <script src="/javascripts/signup.js"></script>
</body>
</html>