@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;500;600;700&display=swap");

:root {
  --white: rgba(255, 255, 255, 0.8);
  --font-blck: #181818;
  --font-1: "Poppins", sans-serif;
  --font-2: "Noto Sans Display", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* navbar */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
}
header {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  position: relative;
  left: 25px;
}
.main-nav {
  margin-top: 5px;

  font-size: 1.5em;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-align: center;
  display: block;
}

.main-nav a {
  color: black;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #fd045c;
}
.Fabr {
  color: #fd045c;
}
.Ink {
  color: #30cfc2;
}

.btn1 {
  background-color: white;
  border: 1px;
  border-radius: 8px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid black;
}

.btn2 {
  background-color: #fd045c;
  border: 1px;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
}

.btn2 a:hover {
  color: white;
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: white;
}

.btn button {
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  margin: 0px 5px;
  transition: all 0.3s ease;
  font-family: var(--font-1);
}

.btn .sUp {
  background-color: transparent;
  border: 1px solid #ccc;
}

.btn .lOut {
  background-color: #fd045c;
  color: rgb(255, 255, 255);
  margin-right: 25px;
}

.btn .sUp:hover {
  background-color: #ccc;
  color: var(--white);
}

.btn .lOut:hover {
  border: 1px solid #181818;
  background-color: var(--white);
  color: #181818;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    .header {
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
    }
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*Body*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "montserrat", "poppins";
}
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.mainbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  padding: 15px 30px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 590;
  color: #252525;
  text-align: left;
  width: 40%;
}

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e2e2e2;
  text-align: center;
  align-content: center;
  padding-top: 1em;
  border-radius: 4px;
  width: 100%;
  /* margin-left: -10%; */
  margin-top: 3%;
  background: linear-gradient(
    0deg,
    rgba(255, 205, 205, 0.4),
    rgba(255, 205, 205, 0.4)
  );
}
table th,
td {
  border-right: 1px solid #ccc;
}

table th:last-child,
td:last-child {
  border-right: none;
}

th {
  font-family: "montserrat", sans-serif;
  padding: 1.1rem 4rem;
  text-transform: uppercase;
  font-size: 1.32rem;
  font-weight: 600;
  color: #fd0456;
  /* letter-spacing: 1px; */
}

td {
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 0.5rem;
  border-top: rgb(226, 226, 226) solid 1px;
  font-weight: 450;
  color: #252525;
  text-align: center;
}

.table p {
  font-family: "Poppins", sans-serif;
  color: #252525;
}

.view-link {
    font-family: "Poppins", sans-serif;
  /* background-color: #F8FFF3; */
  border-radius: 20px;
  /* color: #0d9c00; */
  padding: 5px 20px;
  font-size: 0.9em;
  font-weight: 420;
  width: 7em;
  height: 1.8em;
  margin: 0.5rem;
  /* border-color: #0d9c00 ; */
  /* border-width: 0.1em;
    border-style: none; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  background-color: #fff;
}

/* .sbtn .lbtn a {
  font-family: "Poppins", sans-serif;
  /* background-color: #F8FFF3; */
  border-radius: 20px;
  /* color: #0d9c00; */
  font-size: 0.9em;
  font-weight: 420;
  width: 7em;
  height: 1.8em;
  margin: 0.5rem;
  /* border-color: #0d9c00 ; */
  /* border-width: 0.1em;
    border-style: none; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  background-color: #fff;
} */

.sbtn {
  font-family: "Poppins", sans-serif;

  border-radius: 15px;
  /* color: #252525; */
  font-size: 0.9em;
  font-weight: 200;
  display: flex;
  justify-content: center;
  /* background-color: royalblue; */
}

.sbtn button:hover {
  cursor: pointer;
  color: #252525;
  border-color: rgba(104, 104, 104, 0.25);
  transition: 0.3ms;
}
