:root{
  --login-btn: #FD045C;
  --start_selling_btn: #FF005A;
  --signup_btn_stroke: #CCCCCC;
  --font_color: #252525;
}
body {
  margin: 0%;
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}
/*.container {
  color: black;
  position: absolute;
  top: 45%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}*/
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100vh;
  color: black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.container{
  margin-top: 20%;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: min-content;
  }
  img {
    width: 7%;
  }
  .container{
    margin-top: 1%;
  }
}

img {
  width: 90%;
  margin-top: 10%;
}

.textbox {
  background-color: var(--signup_btn_stroke);
  border: none;
  color: black;
  font-size: 17px;
  padding: 15px;
  margin-top: 12px;
  border-radius: 12px;
}

.btn {
  background-color: var(--login-btn);
  border-radius: 12px;
  color: white;
  border: none;
  font-size: 17px;
  margin-top: 12px;
  padding: 15px;
}

.btn-login   {
  background-color: #fff;
  border-radius: 12px;
  color: var(--login-btn);
  border: none;
  font-size: 17px;
  padding: 15px;
}
